/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.logo img {
    width: 40px;
    height: auto;
    margin-right: 20px;
}

.search {
    position: relative;
    margin-left: 0;
}

.search input {
    width: 500px;
    padding: 10px 10px 10px 30px;
    border: none;
    border-left: 2px solid #ccc;
    background-color: transparent;
    box-shadow: none;
    outline: none;
}

.search i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}

.user-profile {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.user-profile span {
    margin-right: 10px;
    font-weight: bold;
}

.user-profile img {
    margin-left: 20px;
    margin-right: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

main {
    padding: 20px;
}

.board {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 30%;
}

.column h2 {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h3 {
    font-size: 1em;
    margin-bottom: 10px;
}

.card p {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 15px;
}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.initials {
    width: 30px;
    height: 30px;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
}

/* Different colors for initials */
.color1 .initials {
    background-color: #3591FB;
}

.color2 .initials {
    background-color: #C335FB;
}

.color3 .initials {
    background-color: #35CDFB;
}

.color4 .initials {
    background-color: #915AFF;
}

.date {
    font-size: 0.8em;
    color: #999;
}

.date.today {
    color: #925BFF;
}

.date.upcoming {
    color: #37e240;
}

.date.overdue {
    color: #e53935;
}

.date.past {
    color: #999;
}
